@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

.nameFont {
  font-family: "Arial", cursive;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.blur {
  backdrop-filter: blur(4px);
}
