@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

.nameFont {
  font-family: "Arial", cursive;
  font-weight: 700;
}

.blur {
  backdrop-filter: blur(6px);
}

.blur2 {
  backdrop-filter: blur(10px);
}

.mainImage {
  height: 400px;
}

.mainImagesm {
  height: 250px;
}

a[href="#"] {
  display: none;
}
